<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>杭电助手</title>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div id="app">
      <!-- 头部制作开始 -->
      <div class="header">
        <header>
          <span></span>
          <h2>学生离校请假</h2>
          <div class="header-top">
            <h2><span></span>学生离校请假</h2>
          </div>
        </header>
        <!-- 标题开始 -->
        <div class="title">
          <h2>学生离校请假</h2>
          <span>已通过</span>
        </div>
        <!-- 标题结束 -->
      </div>
      <!-- 头部制作结束 -->
      <!-- 二维码区域开始 -->
      <div class="erweima">
        <img src="./images/erweima.png" alt="" />
        <span>{{time}}</span>
      </div>
      <!-- 二维码区域结束 -->
      <!-- 基本信息开始 -->
      <ul class="info">
        <li>
          <h3>姓名</h3>
          <span>{{name}}</span>
        </li>
        <li>
          <h3>学号</h3>
          <span>{{number}}</span>
        </li>
        <li>
          <h3>学院</h3>
          <span>{{acad}}</span>
        </li>
        <li>
          <h3>班级</h3>
        </li>
        <li>
          <h3>辅导员</h3>
          <span>{{teacher}}</span>
        </li>
      </ul>
      <!-- 基本信息结束 -->
      <!-- 请假内容开始 -->
      <div class="leave-reason">
        <h2>请假内容</h2>
        <ul>
          <li>
            <span>请假类型(必填)</span>
            <select>
              <option>< 请选择 ></option>
              <option>2小时以内</option>
              <option>2小时以上(当天门禁前回校)</option>
              <option>单位实习(按周请假)</option>
              <option selected="selected">其他特殊情况</option>
            </select>
          </li>
          <li>
            <span>请假开始日期(必填)</span>
            <i>离开学校的日期</i>
            <select>
              <option>{{leaveTime}}</option>
            </select>
          </li>
          <li>
            <span>请假结束日期(必填)</span>
            <i>返回学校的日期</i>
            <select>
              <option>{{goBackTime}}</option>
            </select>
          </li>
          <li>
            <span>请假去向及原因(必填)</span>
            <i
              >请说明离校请假的目的地(省市区及详细地址)及请假原因,如果有具体的离校、返校时间,也可以附上</i
            >
            <textarea>实验室在东校区</textarea>
          </li>
          <li>
            <span>离校期间是否离开杭州(必填)</span>
            <select>
              <option selected="selected">否</option>
              <option>是</option>
            </select>
          </li>
          <li></li>
          <li>
            <span>签名(必填)</span>
            <i
              >本人郑重承诺:我承诺上述内容真实有效,离校期间注意自身安全,如身体不适及时向学校报告</i
            >
            <img src="./images/name.jpg" alt="">
            <i>请点击「确认」上传签名后在提交表单。</i>
          </li>
        </ul>
      </div>
      <!-- 请假内容结束 -->
      <!-- 审核意见开始 -->
      <ul class="comment">
        <li>
          <h3>1审意见</h3>
          <span>无意见或备注</span>
        </li>
        <li>
          <h3>2审意见</h3>
          <span>无意见或备注</span>
        </li>
      </ul>
      <!-- 审核意见结束 -->
      <!-- 输入相关信息部分开始 -->
      <div class="shuru-info">
        <label for="name"
          >姓名:
          <input type="text" id="name" v-model="name" />
        </label>
        <label for="number"
          >学号:
          <input type="text" id="number" v-model="number" />
        </label>
        <label for="acad"
          >学院:
          <input type="text" id="acad" v-model="acad" />
        </label>
        <label for="teacher"
          >辅导员:
          <input type="text" id="teacher" v-model="teacher" />
        </label>
        <label for="leave-time"
          >离校时间:
          <input type="text" id="leave-time" v-model="leaveTime" />
        </label>
        <label for="goback-time"
          >回校时间:
          <input type="text" id="goback-time" v-model="goBackTime" />
        </label>
      </div>
      <!-- 输入相关信息部分结束 -->
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          name: "XX",
          number: "182040XX",
          acad: "电子信息学院（微电子学院）",
          teacher: "杨晓丹",
          leaveTime: "2020/07/15",
          goBackTime: "2020/07/15",
          time: "",
        },
        methods: {
          getTime: function () {
            var data = new Date(); //创建一个当前的Date实例
            var month = data.getMonth() + 1; //获取当前的月份-1
            var dates = data.getDate(); //获取当前的日期
            var hours = data.getHours(); //获取当前的小时数
            var timeBlock = '';
            if(hours < 12) {
                timeBlock = '上午';
            }else if(hours < 19) {
                timeBlock = '下午';
            }else if(hours < 24) {
                timeBlock = '晚上';
            }
            var minutes = data.getMinutes(); //获取当前的分钟数
            var seconds = data.getSeconds();
            return (this.time = `当前时间: ${month}月${dates}日 ${timeBlock}${hours}:${minutes}:${seconds}`);
          }
        },
        created: function() {
            var that = this;
            setInterval(function() {
                that.getTime()
            }, 1000)
        }
      });

      var headerTop = document.querySelector(".header-top");
      window.onscroll = function () {
        if (document.documentElement.scrollTop >= 50) {
          headerTop.style.display = "block";
          // alert(11);
        } else if (document.documentElement.scrollTop < 50) {
          headerTop.style.display = "none";
        }
      };
    </script>
  </body>
</html>
